{% extends "base.html" %}
{% block title %}Databases{% endblock %}
{% block scripts %}

{% endblock %}
{% block content %}
<div id="header">
  <h1>Databases</h1>
</div>
{% if changed %}
    <h3>Selected database changed to: {{selected}}</h3>
    <p>
        Please shutdown the localweb server, run python manage.py syncdb and then run python manage.py runserver to see changes.
    </p>
{% else %}
{% if different %}
    <h3>Database in config file is different from database in settings file.</h3>
    <blockquote>
        Either select a different database or shutdown the localweb server, run python manage.py syncdb and then run python manage.py runserver to see changes.
    </blockquote>
{% endif %}
    <h3>Currently loaded database: {{selected}}</h3>
    <h3>Database in config file: {{config_db}}</h3>

    <div>
      <a>{{databases|length}} databases found</a>
    </div>

    <ul>
      {% for database in databases %}
      <li><a class="chat" href="/databases/?select={{database}}">{{ database }}</a></li>
      {% endfor %}
    </ul>
{% endif %}

{% endblock %}