<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-iMessages</title>
</head>
<style>
    body {
      font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
<body>
    <h1>
        Welcome to Django iMessages
    </h1>
    <h2>Usage</h2>
    <h4>Databases Index</h4>
    <p>
        The databases index page lists all databases found in the db/ folder that end with *.db. You can put multiple
        iMessage database files in there and select the one you want to view. There is no need to restart the server
        when you change which database is being read.
    </p>
    <p>
        To see all databases in the directory go here: <a href="/databases"> HERE</a>
    </p>
    <h4>Messages Index</h4>
    <p>
        The messages index page lists all conversations found in the database SMS and iMessage alike. Click on the phone number/handle
        that you wish to view the conversations for.
    </p>
    <p>
        To see all conversations in the database go here: <a href="/messages"> HERE </a>
    </p>
    <h4>Messages</h4>
    <p>
        The messages page shows you the current conversation you are looking at in a Messages style format. All messages
        are loaded if not filtered so large conversations may cause the browser to lag when looking at said conversation.
    </p>
    <u>Filter by Date</u>
    <p>
        The messages page supports filtering by date via a date input UI or a GET query parameter. For the date
        input UI, simply go to the top right of the message page and select the date of the current conversation you wish
        to view and press 'Go'. Because large conversations may take a while for the browser to load, you can also filter
        by date via a GET query parameter by adding a query string to the end of the url of the conversation.
    </p>
    <p>
        For example,
    </p>
    <p>
        if you are looking at a conversation with a handle_id of 1 then your URL would be: https://localhost:8000/messages/1/
    </p>
    <p>
        and if you want to filter by the date Jan. 1, 2000 then you would navigate to: https://localhost:8000/messages/1/?filter=2000-1-1.
    </p>
    <u>Filter by Search Query</u>
    <p>
       The messages page supports filtering by search query terms via a simple text box or a GET query parameter. For
        the search input UI, similar to the date UI, go to the top right of the message page and type in the search query
        you wish to search for and press 'Go'. Because large conversations may take a while for the browser to load, you can also filter
        by search query via a GET query parameter by adding a query string to the end of the url of the conversation.
    </p>
    <p>
        Currently search only supports the two operators: AND and OR.
    </p>
    <p>
        For example,
    </p>
    <p>
        if you are looking at a conversation with a handle_id of 1 with the following scenarios:
    </p>
    <p>
        1. A single term "term1" you would navigate to:
    </p>
    <p>
        https://localhost:8000/messages/1/?search=term1
    </p>
    <p>
        2. One term or the other "term1" or "term2" you would navigate to:
    </p>
    <p>
        https://localhost:8000/messages/1/?search=term1%20OR%20term2
    </p>
    <p>
        3. One term and the other "term1" and "term2" you would navigate to:
    </p>
    <p>
        https://localhost:8000/messages/1/?search=term1%20AND%20term2
    </p>
    <u>Export Data</u>
    <p>
        You can also export data by clicking on the "Export" button on the top right of this page. The export function
        will export the messages in various formats with the currently specified filters if any.
    </p>
    <p>
        <b>Note:</b>
    </p>
    <ul>
        <li>Search expects a whitespace before and after the AND and OR operators</li>
        <li>AND and OR should not be used in search query terms themselves</li>
        <li>Search terms AND and OR can be combined</li>
        <li>OR takes precedence over AND meaning x OR y AND z is interpreted as x OR (y AND z)</li>
        <li>Case does not matter in search terms</li>
        <li>Search and date can be combined</li>
    </ul>
    <h2>Trouble Shooting</h2>
    <ul>
        <li>Did you drag the db file to /sms/db/ and rename it to sms.db?</li>
        <li>Did you run python manage.py syncdb?</li>
    </ul>
    <p>
        If you are still having issues, feel free to open an issue or email me.
    </p>


</body>
</html>