{% extends "base.html" %}
{% block title %}Messages from {{ handle.id }}{% endblock %}
{% block scripts %}
  <script>
      function filterQuery() {
          var start_input = document.getElementById("filter_start").value;
          var end_input = document.getElementById("filter_end").value;
          var search_input = document.getElementById("filter_search").value;
          window.location.replace("/messages/{{ handle.rowid }}/?start=" + start_input + "&end=" + end_input +
              "&search=" + encodeURI(search_input));
      }
      function chooseExport() {
          var modal = document.getElementById("myModal");
          modal.style.display = "block";
      }
      function exportData(format) {
          if (window.location.href.includes("start") || window.location.href.includes("end") || window.location.href.includes("search")) {
              window.location.replace(window.location + "&export=" + format);
          } else {
              window.location.replace(window.location + "?export=" + format);
          }
      }
      function clearQueries() {
          window.location.replace("/messages/{{ handle.rowid }}/");
      }
  </script>
{% endblock %}

{% block body_id %}chat{% endblock %}

{% block content %}
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Export as...</h3>
      {% for export_format in export_formats %}
      <button onclick="exportData('{{export_format}}')">{{export_format}}</button>
      {% endfor %}
    </div>
  </div>

  <div id="header">
    <div>
      <a class="chat" href="/messages" id="backButton" style="max-width: 200px; float: left">Back</a>
      <h1 style="text-align: center">Messages from {{ handle.id }}</h1>
    </div>
    <div id="actionBar" style="float: right">
      <label for="filter_start">Start Date:</label>
      <input id="filter_start" type="date" {% if start %} value="{{start}}" {% endif %}>
      <label for="filter_end">End Date:</label>
      <input id="filter_end" type="date" {% if end %} value="{{end}}" {% endif %}>
      <label for="filter_search">and/or search:</label>
      <input id="filter_search" {% if search %} value="{{search}}" {% endif %}>
      <button onclick="filterQuery()">Go</button>
      <button onclick="clearQueries()">Clear</button>
      <button onclick="chooseExport()">Export</button>
    </div>
  </div>
  <hr>
  <div id="messageCounter">
    <a>{{messages|length}} messages found</a>
  </div>
  <div id="messages">
    <blockquote class="chat">
    {% for message in messages %}
      {% if forloop.counter in datestamps %}
        <p class="dateStamp">
          {{message.date}}
        </p>
      {% endif %}

      {% if message.is_from_me %}
        {% if message.handle.service == "iMessage" %}
          <p class="meBlue">
        {% else %}
          <p class="meGreen">
        {% endif %}
            {{ message.text }}
          </p>
      {% else %}
        <p class="them">
          {{ message.text }}
        </p>
      {% endif %}
      {% if message.is_from_me %}
        <p class="timestampMe">
      {% else %}
        <p class="timestampThem">
      {% endif %}
          {{ message.date }}
        </p>
    {% endfor %}
  </blockquote>
  </div>
{% endblock %}

