{% extends "base.html" %}
{% block title %}Messages from {{ handle.id }}{% endblock %}
{% block scripts %}
  <script>
      function chooseFilter() {
          var input_el = new Date(document.getElementById("filter_date").value).getTime();
          window.location.replace("/messages/{{ handle.rowid }}/" + input_el);
      }
  </script>
{% endblock %}

{% block body_id %}chat{% endblock %}

{% block content %}
  <div id="header">
    <h1>Messages from {{ handle.id }}</h1>
    <a href="/messages" id="backButton">Back</a>
    <div id="filter" style="float: right">
      <label for="filter_date">Show messages on day:</label>
      <input id="filter_date" type="date">
      <button onclick="chooseFilter()">Go</button>
    </div>
  </div>

  <div>
  {% for message in messages %}
    {% if message.is_from_me %}
    <div class="bubble right">
      {% if message.handle.service == "iMessage" %}
        <p class="aqua">
      {% else %}
        <p class="lime">
      {% endif %}
      {{ message.text }}
        </p>
    </div>
    {% else %}
    <div class="bubble left">
      <p class="clear">{{ message.text }}</p>
    </div>
    {% endif %}
    <p>
      {{ message.date }}
    </p>

  {% endfor %}
  </div>


{% endblock %}

